@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body {
  font-family: "Inter", sans-serif !important;
}

.text-primary {
  color: #003366 !important;
}

.bg-light {
  background-color: #f1f3f6 !important;
}

.btn-primary {
  background-color: #003366 !important;
  border-color: #003366 !important;
}

.btn-primary:hover {
  background-color: #0a4d9e !important;
  border-color: #0a4d9e !important;
}

.fw-black {
  font-weight: 900 !important;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
